%input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token.to_s}
.panel.panel-default
  .panel-heading
    %center
      %h4
        #{current_user.user.school.name} passes
  .panel-body
    %p
      %strong 
        Passes for #{DateTime.now.strftime("%m/%d/%Y")}
        = link_to "New Pass", new_pass_path, class: "btn btn-sm btn-primary btn-success"
  %table.table.table-striped.table-bordered.table-hover
    = header_period       &@header_lambda
    = header_name         &@header_lambda
    = header_destination  &@header_lambda
    %th
      Task
    = header_departed_at  &@header_lambda
    = header_arrived_at   &@header_lambda
    %th
      Teacher
    - if current_user.user.admin?
      %th
        %nbsp

    - @passes.each do |pass|
      %tr
        %td
          #{pass.period}
        %td
          #{pass.student_whole_name}
        %td
          #{pass.destination}
        %td
          #{pass.task}
        %td
          = generate_checkbox(pass,:departed_at)
        %td
          = generate_checkbox(pass,:arrived_at)
        - if pass.user_id == current_user.user_id
          %td
            = button_to('Delete', pass_path(pass), method: :delete, data: {confirm: "Are you sure you want to delete this pass ?"},class: "btn btn-sm btn-primary btn-warning")
        - else
          - if current_user.user.admin?
            %td
              #{pass.try(:user).authorizations.first.last_name}
            %td
              = button_to('Delete', pass_path(pass), method: :delete, data: {confirm: "Are you sure you want to delete this pass ?"},class: "btn btn-sm btn-primary btn-warning")
          - else
            %td
              #{pass.try(:user).authorizations.first.last_name}


:javascript
$(function(){
    $(".navbar-nav > li").removeClass('active');
    $('#view_passes_tab').addClass('active');
    $(":checkbox").on("click", function(e){ 
      var target  = $(e.target);
      var name    = $(e.target).attr("name")
      $.ajax({
        type:"PUT",
        url:"/passes/" + $(e.target).data('id') + ".json",
        data:{  authenticity_token: AUTH_TOKEN,
                attr_name: name, 
                attr_value:$(e.target).is(":checked"),
                order_by: "#{params[:order_by]}",
                asc_desc: "#{params[:asc_desc]}"
              }
      }).done(function(json){
        if (name === "departed_at") {
          $(target).parent().html(json.departed_at);
        } else {
          $(target).parent().html(json.arrived_at);
        }
        location.reload();
      });
    });
});                          

