= render partial: 'shared/error_messages', locals: {model: @pass}
%form.form-horizontal{role: "form", action: "#{passes_path}", method: "POST", id: "new_pass_form"}
  %input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token.to_s}
  .form-group
    .col-lg-offset-2.col-lg-10
      %button.btn.btn.btn-success.btn-default{type: "submit"} Create Pass
  .form-group
    %label.col-lg-2.control-label{for: "inputPassDate"} Date
    .col-lg-10
      = new_pass_date(@pass)
  .form-group
    %input{type:'hidden', name: "pass[period]", id: "pass_period"}
    %label.col-lg-2.control-label{for: "inputPeriod"} Period
    .col-lg-10
      .btn-toolbar
        - current_user.user.school.periods.each_with_index do |period, i|
          - if period === @pass.period
            %button.btn.btn-sm.btn-primary.disabled{type: "button", class:'period_pass_btn'} #{h period}
          - else
            %button.btn.btn-sm.btn-primary{type: "button", class:'period_pass_btn'} #{h period}
  .form-group
    %label.col-lg-2.control-label{for: "inputFirstName"} First
    .col-lg-10
      %input#inputFirstName.form-control.input-sm{placeholder: "First name", type: "text", name: "pass[student_first_name]", value: @pass.student_first_name}
  .form-group
    %label.col-lg-2.control-label{for: "inputLastName"} Last
    .col-lg-10
      %input#inputLastName.form-control.input-sm{placeholder:"Last Name", type: "text",name: "pass[student_last_name]", value: @pass.student_last_name}
  .form-group
    %label.col-lg-2.control-label{for: "inputTask"} Task
    .col-lg-10
      %input#inputLastName.form-control.input-sm{placeholder:"Task", type: "text",name: "pass[task]", value: @pass.task}
  .form-group
    %input{type:'hidden', name: "pass[destination]", id: "pass_destination"}
    %label.col-lg-2.control-label{for: "inputDestination"} Destination
    .col-lg-10
      .btn-toolbar
        - current_user.user.school.destinations.each_with_index do |dest, i|
          - if (dest === @pass.destination) || dest === "Classroom" && (@pass.destination && @pass.destination[0..3] === "Room")
            %button.btn.btn-sm.btn-primary.disabled{type: "button", class:'destination_btn'} #{h dest}
          - else
            %button.btn.btn-sm.btn-primary{type: "button", class:'destination_btn'} #{h dest}
        - if @pass.destination && @pass.destination[0..3] === "Room"            
          %input#inputRoomNumber.form-control.input-sm{value:@pass.destination[5..-1], type: "text", style:'width:13%;display:inline;'}
        - else
          %input#inputRoomNumber.form-control.input-sm.hidden{placeholder:"Room #", type: "text", style:'width:13%;display:inline;'}
  .form-group
    .col-lg-offset-2.col-lg-10
      %button.btn.btn.btn-success.btn-default{type: "submit"} Create Pass

:javascript
$(function() {
  $('.period_pass_btn').on('click',function(e){
    $('.period_pass_btn').removeClass('disabled');
    $(e.target).addClass('disabled');
  });
  $('.destination_btn').on('click',function(e){
    $('.destination_btn').removeClass('disabled');
    $(e.target).addClass('disabled');
    
    if ($(e.target).text() === "Classroom") {
      $("#inputRoomNumber").removeClass('hidden');
      $("#inputRoomNumber").focus();
    } else {
      $("#inputRoomNumber").addClass('hidden');
    }
  });

  $("#inputFirstName").focus();
  $('.datepicker').datepicker().on('changeDate', function(e){
    $('.datepicker.dropdown-menu').hide();
  });

  $("#new_pass_form").submit(function(){
    $("#pass_period").val($(".period_pass_btn.disabled").text());
    $('#pass_destination').val($(".destination_btn.disabled").text());
    if ($("#inputRoomNumber").is(":visible")){
      $("#pass_destination").val("Room " + $("#inputRoomNumber").val());
    }
  });

}); 