.panel.panel-default
  .panel-heading
    %center
      %h4
        #{current_user.user.school.name} passes
  .panel-body
    %form{action: report_path, method:'GET'}
      %p
        %strong 
          Passes from 
          %input#inputFromDate.datepicker.form-control{style: 'margin-right:10px;width:12%;display:inline', value: format_date_for_display(report_params[:from_date]),  type: "text", name: "from_date"}to 
          %input#inputToDate.datepicker.form-control{style: 'margin-left:10px;width:12%;display:inline', value: format_date_for_display(report_params[:to_date]),  type: "text", name: "to_date"}
          %button.btn.btn.btn-success.btn-sm{type: "submit"} Go
          %input{type:'hidden', name: 'order_by', value: params[:order_by]}
          %input{type:'hidden', name: 'asc_desc', value: params[:asc_desc]}

  %table.table.table-striped.table-bordered.table-hover.report-table
    = header_period &@header_lambda
    = header_name &@header_lambda
    = header_destination &@header_lambda
    = header_date &@header_lambda
    %th
      Teacher
    - @passes.each do |pass|
      %tr
        %td
          #{pass.period}
        %td
          #{pass.student_whole_name}
        %td
          #{pass.destination}
        %td
          #{pass.pass_date.strftime("%m/%d/%Y")}
        %td
          #{pass.try(:user).authorizations.first.last_name}

= paginate @passes

:javascript
  $(function(){
    $(".navbar-nav > li").removeClass('active');
    $('#report_tab').addClass('active');
    $('.datepicker').datepicker().on('changeDate', function(e){
      $('.datepicker.dropdown-menu').hide();
    });
  });