.panel.panel-default
  .panel-heading 
    %strong Users
  .panel-body
    %p 
      %strong
        = link_to "New User", new_user_path, class: "btn btn-sm btn-primary btn-success"
  %table.table.table-striped.table-bordered.table-hover
    %th
      Email
    %th
      %nbsp
    %th
      %nbsp
    - @users.each do |user|
      %tr
        %td
          #{user.email}  
        %td
          = button_to('Edit', edit_user_path(user), method: :get, class: "btn btn-sm btn-primary btn-info")
        %td
          = button_to('Delete', user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete this user ? Deleting the user will delete all passes created by this user."},class: "btn btn-sm btn-primary btn-warning")


:javascript
$(function(){
    $(".navbar-nav > li").removeClass('active');
    $('#admin_tab').addClass('active');
});      
