= render partial: 'shared/error_messages', locals: {model: @user}
%h3
  %center
    Add a new user
%form.form-horizontal{role: "form", action: "#{users_path}", method: "POST", id: "new_user_form"}
  %input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token.to_s}
  .form-group
    %label.col-lg-2.control-label{for: "inputEmail"} Email
    .col-lg-10
      %input#inputEmail.form-control.input-sm{placeholder: "Email address", type: "text", name: "user[email]", value: @user.email}
  .form-group
    .col-lg-offset-2.col-lg-10
      %button.btn.btn.btn-success.btn-default{type: "submit"} Create User
  %br
  .form-group
    .col-lg-offset-2.col-lg-10
      = link_to 'Back', users_path

:javascript
$(function() {
  $("#inputEmail").focus();      
});