- if model && model.errors && model.errors.size > 0
  .alert.alert-danger.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    %strong Please correct the following:
    - model.errors.full_messages.each do |message|
      %br
      #{message}

  