- if flash[:alert]
  .alert.alert-danger.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    %strong Warning!
    = flash[:alert]

- if flash[:notice]
  .alert.alert-success.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    %strong
      .container
        = flash[:notice]