/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
.buttonTextSignout {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0px;
  font-size: 17px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto';
  cursor: pointer;

}
.hidden{
  visibility:hidden;
}
/*.col-lg-10{
  width:69% !important; 
}*/

.down_arrow { 
    background-image: url("/images/down_arrow.png");
    background-position: right;
    background-repeat:no-repeat;
    padding-right:20px;
}
.up_arrow   { 
    background-image: url("/images/up_arrow.png"); 
    background-position: right;
    background-repeat:no-repeat;
    padding-right:20px;
}
