#customBtn {
  display: inline-block;
  background: #dd4b39;
  color: white;
  width: 165px;
  border-radius: 5px;
  white-space: nowrap;
}
#customBtn:hover {
  background: #e74b37;
  cursor: hand;
}
span.label {
  font-weight: bold;
  color: black;
  font-size: 1.1em;
}
span.icon {
  background: url("/images/btn_red_32.png") transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-right: #bb3f30 1px solid;
  cursor: pointer;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 17px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto';
  cursor: pointer;
}