!!!
%html
  %head
    = csrf_meta_tags
    %title Hallwaypass
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    - if Rails.env.production?
      = javascript_include_tag 'application'
    -else 
      = javascript_include_tag "jquery.min", "bootstrap.min", "respond.min", 'html5shiv', 'html5shiv-printshiv', 'bootstrap-datepicker', "jquery_ujs"
    = stylesheet_link_tag "application", "datepicker", "google_login", "local_login"
    - if current_user
      = stylesheet_link_tag "sites/#{current_user.user.school.squished_name}/main"
    = javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
    = yield(:head)
  %body
    .container
      = render partial: 'shared/flash'
      -if current_user
        = render partial: 'shared/tabs'
      = yield
